---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Programador Web",
    company: "Independiente",
    description:
      "En este puesto, he tenido la oportunidad de desempeñarme tanto en el desarrollo de interfaces atractivas y funcionales en el front-end como en la implementación de soluciones eficientes y robustas en el back-end para diversos proyectos.\n\nGracias a mi experiencia y conocimientos, he logrado ofrecer soluciones personalizadas que se alinean con las necesidades y expectativas de los clientes, asegurando siempre su satisfacción.\n\nHe participado en proyectos variados, desde el diseño y desarrollo de páginas de aterrizaje (landing pages) que captan la atención del usuario, hasta la creación de sistemas completos, como una plataforma para gestionar loterías en línea y una aplicación para pedidos online.\n\nAdemás, he colaborado en otros proyectos desafiantes que me han permitido ampliar mis habilidades y seguir creciendo profesionalmente.",
  },
  {
    date: "Febrero 2023 - Julio 2024",
    title: "Programador Web",
    company: "DAITE",
    description:
      "Como parte de mi rol en esta empresa, soy responsable de diseñar, desarrollar e implementar soluciones completas para nuestros clientes.\n\nMe especializo en crear interfaces de usuario atractivas y funcionales, así como en desarrollar funcionalidades sólidas en el backend.\n\nTrabajamos estrechamente con nuestros clientes para ayudarles a expandirse en la web, atrayendo a un público más amplio mediante la creación de páginas web atractivas y amigables para el usuario.\n\nAdemás, proporcionamos soluciones informáticas personalizadas para abordar los desafíos específicos de sus negocios.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
